:root {
    --dang-hov: #d3473690;
    --nav-active: #2468ac;
    --light-text: #abcdef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.danger-hover {
    color: var(--light-text);
}

.navActive {
    color: var(--nav-active);
}

.danger-hover:hover {
    color: var(--dang-hov);
}